
/*for margin at top 0*/
* {
    margin: 0px;
    padding: 0px;
}

html{

    background-color: rgb(11, 17, 99);
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header{

    display: block;
    background-color: #0b1163;

}
header h1{
    color: #dde7eb;
    display: block;
    text-align: center;
    padding: 5px;
}
#wrapper{
    display: grid;
    grid-template-columns: 20% 79.5%;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 5px;
}
#b1{
    grid-column: 1/2;
    background-color: #dde7eb;
}
#b2{
    grid-column: 2/3;
    background-color: gold;
}
button{
   color: #dde7eb;
}
#fetchBtn{
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    width: 75%;
    height: 30px;
    background-color: #306ed5;
}
h2{
    text-align: center;
    color: rgb(159, 255, 240);
    margin-left: auto;margin-right: auto;
    padding: 3px;
    background-color: #a0ace2;
}
.box000{
    grid-column: 2/3;
    border: #0b1163 solid 1px;
    margin-top: 0;
    background-color: rgba(245, 233, 222, 0.58);
}
.leftB{
    display: block;
    float: left;
    margin-left: 5px;
}
.leftB div{
    padding: 5px;
}
.rightB{
    display: block;
    float: right;
    margin-left: 5px;

}
.rightB div{
    padding: 5px;
}
.capital{
    color: darkgreen;
    font-weight: bold;
}
.region{
    color: #fc7859;
    font-weight: 500;
}
#input1{
    width: 100px;
    height: 30px;
    margin: 5px;
}
#searchBtn{
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    width: 35%;
    height: 30px;
    background-color: #306ed5;
}
.flag{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    /*border: #0b1163 1px solid;*/
}
.flagImg{
    width: 200px;
    height: 100px;
    margin: 10px auto 10px auto;
    display: block;
    border: black 1px solid;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spTi{
    color: #214f87;
    font-weight: bold;
}
.countryHeading{
    color: gold;
}